body {
  color: #333;
  font: 100% Helvetica, sans-serif;
 
 
}

.wrapper {
 background-color: #ccc;
 max-width: 1600px;
 margin: 0 auto;
}
/* links into list-group item from bootstrap*/
.list-group-item a {
  color: #800080 !important;
}

.header {
  background-image: linear-gradient(to bottom right, #800080, #333);
}

/* Logo */
.logo h2 {
  color: white;
  font-family: "Liu Jian Mao Cao", cursive;
  font-size: 20px;
  padding: 0;
}
/*
@media (min-width: 768px) {
    .logo h2 {
        font-size: 45px;
    }
}

@media (min-width: 992px) {
    .logo h2 {
        font-size: 63px;
    }
}
*/
/* Style the navigation menu */
nav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

nav #menu {
  display: none;
}

nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  display: block;
}

/* Style the hamburger menu */
nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

nav a:hover {
  color: #ccc;
  text-decoration: underline;
  cursor: pointer;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #800080;
  color: white;
}

@media (min-width: 768px) {
  /* Menu */
  nav {
    font-size: 16px;
    margin-top: 0;
    position: relative;
    top: 0;
    width: 100%;
  }

  nav #menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a.icon {
    display: none;
  }

  nav ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  nav li {
    float: left;
  }

  nav a {
    color: #fff;
    display: block;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
  }
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  height: auto;
  background-color: #333;
  color: white;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.footer .logo {
  grid-column: 1 / 1;
  background-color: transparent;
}

.footer .text-center {
  grid-column: 2 / span 3;
}

/** Elipse **/
.footer .inset {
  grid-column: 5 / 5;
  -webkit-clip-path: inset(45% 0% 33% 10% round 10px);
  clip-path: inset(45% 0% 33% 10% round 10px);
  float: right;
}
.footer .ellipse2 {
  grid-column: 5 / 5;
  width: 80%;
  height: 80%;
  -webkit-clip-path: ellipse(50% 65% at 70% 50%);
  clip-path: ellipse(50% 65% at 70% 50%);
}

/* articles */
article {
  width: 100%;
  height: 100%;
  box-shadow: 5px 10px 8px #888;
  background-color: #fff;
  padding: 25px;
}

article img {
  width: 100%;
}

.portada {
  width: 60%;
}

/* Breadcrumbes */
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* Encabezados */

h1 {
  font-size: 20px;
}
/* h2 */
h2 {
  font-size: 20px;
  height: auto;
  padding: 10px;
}

/* h4 */
h4 {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 992px) {
  /* h1 */
  h1 {
    font-size: 38px;
  }
  /* h2 */
  h2 {
    font-size: 30px;
  }

  /* h4 */
  h4 {
    font-size: 24px;
  }
}

/* blockquote */
.blockquote {
  font-size: 1em !important;
  background-color: #ead7fa;
  font-style: italic;
  border-left: 10px solid #333;
}

/** Thumbnails **/
.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height: 100px;
}

.thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/** Animaciones **/
.title {
  background-color: #c94ec9;
  transition: background-color 0.5s ease-out;
  color: #fff;
}

.title:hover {
  background-color: #800080;
  color: #000;
}

.rotacion {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

.rotacion:hover {
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

@keyframes mov {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

.movimiento {
  animation-name: mov;
  animation-duration: 4s;
}

.animacion {
  display: flex;
  justify-content: center;
}
.animacion img {
  width: 30%;
}

svg {
  width: 100%;
  height: auto;
}
